@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-style {
  @apply fixed top-0 w-full;
}

.nav-style {
  @apply flex flex-row justify-around py-3 bg-gray-800 text-white;
}

.main-style {
  @apply py-36 m-auto px-4 max-w-[1600px];
}

.footer-style {
  @apply text-center p-4 bg-gray-900 text-gray-400 fixed bottom-0;
}

.title-style {
  @apply font-bold text-2xl mb-12 text-[#f55];
}

.list-style {
  @apply grid grid-cols-2 gap-5 md:grid-cols-5;
}

.list-item-style {
  @apply border p-5 rounded-lg transition duration-500 hover:shadow-[0_10px_20px_0px_rgba(255,255,255,0.4)];
}

.list-item-title-style {
  @apply font-bold text-xl text-[#f55];
}

.list-description-title-style {
  @apply text-gray-500;
}
